.movieCover {
  width: 100%; 
  height: 80vh;
  @include flex(row, space-between, none);
  margin: 40px auto; 

  @include tall {
    width: 60%; 
    margin: 80px auto; 
  }
}

.movieCover__infos {
  height: 100%;
  display: flex;

  p {
    padding: 0 2px; 
  }
}

.movieCover__title {
  height: 100%;

  div {
    height: 100%;
    @include flex(column, space-between, none);
  }

  p {
    text-align: center; 
    font-size: 3.9rem; 
  }

  @include tall {
    p {
      font-size: 5rem; 
    }
  }
}

.movieCover__description {
  height: 100%;
  @include flex(column, space-between, center);
}

.movieCover__type {
  font-size: 1.5rem; 
}

.movieCover__time, 
.movieCover__date {
  font-size: 1.8rem;    
}

.movieCover__prom {
  display: none; 
}

.movieCover__img {
  width: 70%; 
  background-size: contain; 
  background-position: center; 
  background-repeat: no-repeat; 
}

/*********** MODIFIERS **********/

.movieCover__infos--desiderare {

  .movieCover__title, 
  .movieCover__time,
  .movieCover__date {
    color: $desiderare-color;
  }
}

.movieCover__infos--apache {

  .movieCover__title, 
  .movieCover__time,
  .movieCover__date {
    color: $apache-color;
  }
}

.movieCover__infos--raptus {

  .movieCover__title, 
  .movieCover__time,
  .movieCover__date {
    color: $raptus-color;
  }
}

.movieCover__infos--piscine {

  .movieCover__title, 
  .movieCover__time,
  .movieCover__date {
    color: $piscine-color;
  }
}

.movieCover__infos--chienne {

  .movieCover__title, 
  .movieCover__time,
  .movieCover__date {
    color: $chienne-color;
  }
}

.movieCover__title--extra {
  display: flex; 

  div:first-child {
    @include flex(column, flex-start, none);
  }
  
  div:nth-child(2) {
    @include flex(column, flex-end, none);
  }

  p {
    font-size: 2.5rem; 
  }
}

.movieCover__img--desiderare {
  background-image: url('../assets/imgs/desiderareCover.jpg'); 
}

.movieCover__img--apache {
  background-image: url('../assets/imgs/apacheCover.jpg');
}

.movieCover__img--raptus {
  background-image: url('../assets/imgs/raptusCover.jpg');
}

.movieCover__img--piscine {
  background-image: url('../assets/imgs/piscineCover.jpg');
}

.movieCover__img--chienne {
  background-image: url('../assets/imgs/chienneCover.jpg');
}