@include tall {

  /***** CONTAINER *****/

  .movieCover {
    width: 60%; 
    margin: 2rem auto; 
    height: 85vh;
  }

  /***** TEXT *****/

  // TITLE

  .movieCover__title {
    margin-right: 1.25rem;

    p {
      font-size: 6rem;
    }
  }

  .movieCover__title--extra {
    div:first-child {
      margin-right: 1rem;
    }

    p {
      font-size: 3.8rem; 
    }
  }

  .movieCover__title--desiderare p {
    font-size: 4rem;
  }

  // DETAILS

  .movieCover__description {
    height: 60%;
    align-items: flex-start; 

    .movieCover__type {
      font-size: 1.8rem; 
    }
    .movieCover__time, 
    .movieCover__date {
      font-size: 2rem; 
    }
  }

  .movieCover__prom {
    @include flex(column, space-between, none);
    height: 40%; 
  
    &.desktop {
      @include flex(column, flex-end, flex-start); 
      text-align: left;
  
      .movieCover__press {
        margin-bottom: unset;
      }
    }

    &.mobile {
      display: none;
    }
  }

  // Mofifiers

  .movieCover__details--desiderare {
    @include flex(column, space-between, unset);

    .movieCover__description {
      height: 75%;
    }
  
    .movieCover__prom {
      display: flex;
      height: unset;
    }
  }

  /***** IMAGE *****/ 

  .movieCover__img {
    width: 60%; 
  }
}

