@include tall {

  /***** CONTAINER *****/

  .movieCover {
    width: 60%; 
    margin: 80px auto; 
    height: 85vh;
  }

  /***** TEXT *****/

  // TITLE

  .movieCover__title {
    p {
      font-size: 6rem; 
      margin-right: 20px; 
    }
  }

  .movieCover__title--extra p {
    font-size: 4.5rem; 
  }

  // DETAILS

  .movieCover__details--desiderare {
    .movieCover__description {
      height: 75%;
    }
  
    .movieCover__prom {
      display: flex;
      height: unset;
    }
  }

  .movieCover__description {
    height: 60%;
    padding-top: .5rem;
    align-items: flex-start; 
  }

  .movieCover__type {
    font-size: 1.8rem; 
  }
  .movieCover__time, 
  .movieCover__date {
    font-size: 2rem; 
  }

  .movieCover__prom {
    @include flex(column, space-between, none);
    padding: 20px 0; 
    height: 40%; 
  
    &.desktop {
      @include flex(column, flex-end, flex-start); 
      text-align: left;
  
      .movieCover__press {
        margin-bottom: unset;
      }
    }

    &.mobile {
      display: none;
    }
  }

  /***** IMAGE *****/ 

  .movieCover__img {
    width: 60%; 
  }
}

