@keyframes appear {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

body {
	background-image: url('../assets/imgs/bg.jpg'); 
	background-attachment: fixed; 

	font-family: 'Bebas', sans-serif;

	@include tall {
		background-size: cover; 
	}
}

/********** HEADER *********/

header {
	color: $fav-color; 
	@include flex(row, space-between, center); 
	padding: 20px 5px 0px 5px;

	h1 {
		font-size: 1.5rem; 
	}

	.nav {
		display: none; 
		transition: all 0.5s; 
	}

	.navItem {
		display: none; 
		font-size: 2rem; 
		line-height: 1.5; 
		color: rgb(255, 243, 221); 
		// color: transparent;
		// -webkit-background-clip: text;
		// background-image: url('../assets/imgs/bg.jpg');
	}

	.menu {
		width: 25px; 
		height: 3px;
		background: $fav-color; 
		position: fixed;
		top: 25px; 
		right: 5px; 
		z-index: 2; 
		transition: all 0.5s; 

		&::before, &::after {
			content: "";             
			position: absolute; 
			background: $fav-color; 
			height: 3px;
			right: 0; 
			transition: all 0.5s;
		}

		&::before {
			width: 35px; 
			top: -10px; 
		}

		&::after {
			width: 15px; 
			top: 10px; 
		}
	}

	.menu.is-clicked {
		background: rgb(255, 243, 221); 
		// background-image: url('../assets/imgs/bg.jpg');

		&::before, &::after {
			background: rgb(255, 243, 221); 
			// background-image: url('../assets/imgs/bg.jpg');
		}
	}

	.nav.is-clicked {
		display: block; 
		animation: appear 0.2s linear forwards; 
		@include flex(column, center, center); 
		background: rgba(195, 58, 40, 0.397); 
		width: 100vw; 
		height: 100vh;
		position: fixed;
		top: 0; 
		left: 0;

		.navItem {
			display: block; 
		}
	}
}

/********** MAIN --  Movies articles *********/

.movie {
	width: 100vw;
	height: 80vh;
	margin-top: 20px; 
	background-size: cover;
	background-position: center;  
	@include flex(column, center, center);
}

.movie--desiderare {
	background-image: url('../assets/imgs/desiderare.png'); 
}
.movie--apache {
	background-image: url('../assets/imgs/apache.png'); 
}
.movie--raptus {
	background-image: url('../assets/imgs/raptus.png'); 
}
.movie--piscine {
	background-image: url('../assets/imgs/piscine.jpg'); 
}
.movie--chienne {
	background-image: url('../assets/imgs/chienne.jpg'); 
}

.movieTitle {
	position: -webkit-sticky;
	position: sticky;
	top: 20px;
	font-size: 3rem; 
	color: rgb(255, 243, 221); 
	// color: transparent;
	// -webkit-background-clip: text;
	// background-image: url('../assets/imgs/bg.jpg');
}

.movieTitle.is-clicked {
	display: none; 
}

/********** FOOTER *********/

footer {
	color: $fav-color; 
	font-size: 0.8rem; 
	padding: 20px; 
	text-align: center; 
}