footer {
	display: none;
	color: $fav-color; 
	font-size: 0.8rem; 
	padding: 20px; 
	text-align: center; 
	transition: all 0.5s; 

	@include medium {
		color: $third-color; 
	}
}

.footer--movies {
	color: $third-color; 
}

footer.is-changed {
	@include textClip;	
	background-image: url('/assets/imgs/bg_small.jpg'); 
}