@keyframes appear {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

body {
	background-image: url('/assets/imgs/bg.jpg'); 
	background-attachment: fixed; 

	font-family: 'Bebas', sans-serif;

	@include tall {
		background-size: cover; 
	}
}