@keyframes appear {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

body {
	background-image: url('/assets/imgs/bg_small.jpg'); 
	background-attachment: fixed; 
	background-size: cover; 
	background-position: center; 
	font-family: 'Bebas', sans-serif;
	transition: all 0.5s; 

	@include medium {
		background-image: url('/assets/imgs/bg_medium.jpg'); 
  }

  @include tall {
		background-image: url('/assets/imgs/bg_tall.jpg'); 
  }
}

body.is-changed-desiderare {
	background-image: url('/assets/gifs/apache.gif'); 
}
body.is-changed-apache {
	background-image: url('/assets/gifs/apache.gif'); 
}
body.is-changed-raptus {
	background-image: url('/assets/gifs/raptus.gif'); 
}
body.is-changed-piscine {
	background-image: url('/assets/gifs/piscine.gif'); 
}
body.is-changed-chienne {
	background-image: url('/assets/gifs/chienne.gif'); 
}