.movie {
	width: 100vw;
	height: 80vh;
	margin-top: 20px; 
	background-size: cover;
	background-position: center;  
	@include flex(column, center, center);
}

.movie--desiderare {
	background-image: url('/assets/imgs/desiderare_small.jpg'); 

	@include medium {
		background-image: url('/assets/imgs/desiderare_medium.jpg'); 
  }

  @include tall {
		background-image: url('/assets/imgs/desiderare_tall.jpg'); 
  }
}
.movie--apache {
	background-image: url('/assets/imgs/apache_small.jpg'); 

	@include medium {
		background-image: url('/assets/imgs/apache_medium.jpg'); 
  }

  @include tall {
		background-image: url('/assets/imgs/apache_tall.jpg'); 
  }
}
.movie--raptus {
	background-image: url('/assets/imgs/raptus_small.jpg'); 

	@include medium {
		background-image: url('/assets/imgs/raptus_medium.jpg'); 
  }

  @include tall {
		background-image: url('/assets/imgs/raptus_tall.jpg'); 
  }
}
.movie--piscine {
	background-image: url('/assets/imgs/piscine_small.jpg'); 

	@include medium {
		background-image: url('/assets/imgs/piscine_medium.jpg'); 
  }

  @include tall {
		background-image: url('/assets/imgs/piscine_tall.jpg'); 
  }
}
.movie--chienne {
	background-image: url('/assets/imgs/chienne_small.jpg'); 

	@include medium {
		background-image: url('/assets/imgs/chienne_medium.jpg'); 
  }

  @include tall {
		background-image: url('/assets/imgs/chienne_tall.jpg'); 
  }
}

.movieTitle {
	position: -webkit-sticky;
	position: sticky;
	top: 20px;
	font-size: 3rem; 
	color: $sec-color;  
	// color: transparent;
	// -webkit-background-clip: text;
	// background-image: url('../assets/imgs/bg.jpg');
}

.movieTitle.is-clicked {
	display: none; 
}