.movieCover {
  width: 100%; 
  height: 80vh;
  @include flex(row, space-between, none);
  margin: 40px auto; 

  @include tall {
    width: 60%; 
    margin: 80px auto; 
    height: 95vh;
  }
}

.movieCover__infos {
  height: 100%;
  display: flex;

  p {
    padding: 0 2px; 
  }
}

.movieCover__title {
  height: 100%;

  div {
    height: 100%;
    @include flex(column, space-between, none);
  }

  p {
    text-align: center; 
    font-size: 3.9rem; 
  }

  @include tall {
    p {
      font-size: 6rem; 
      margin-right: 20px; 
    }
  }
}

.movieCover__details {
  @include tall {
  }
}

.movieCover__description {
  height: 100%;
  @include flex(column, space-between, center);

  @include tall {
    height: 60%;
    align-items: flex-start; 
  }
}

.movieCover__type {
  font-size: 1.5rem; 

  @include tall {
    font-size: 1.8rem; 
  }
}

.movieCover__time, 
.movieCover__date {
  font-size: 1.5rem;  
  
  @include tall {
    font-size: 2rem; 
  }
}

.movieCover__prom {
  display: none; 

  @include tall {
    @include flex(column, space-between, none);
    padding: 20px 0; 
    height: 40%; 
  }
}

.movieCover__selection, 
.movieCover__press {
  font-size: 1.5rem; 

  h3 {
    margin-bottom: 10px; 
  }

  ul {
    line-height: 1.2; 
  }
}

.movieCover__img {
  width: 75%; 
  background-size: contain; 
  background-position: center; 
  background-repeat: no-repeat;
  
  @include tall {
    width: 60%; 
  }
}

/*********** MODIFIERS **********/

.movieCover__infos--desiderare {

  .movieCover__title, 
  .movieCover__time,
  .movieCover__date {
    color: $desiderare-color;
  }
}

.movieCover__infos--apache {

  .movieCover__title, 
  .movieCover__time,
  .movieCover__date {
    color: $apache-color;
  }
}

.movieCover__infos--raptus {

  .movieCover__title, 
  .movieCover__time,
  .movieCover__date {
    color: $raptus-color;
  }
}

.movieCover__infos--piscine {

  .movieCover__title, 
  .movieCover__time,
  .movieCover__date {
    color: $piscine-color;
  }
}

.movieCover__infos--chienne {

  .movieCover__title, 
  .movieCover__time,
  .movieCover__date {
    color: $chienne-color;
  }
}

.movieCover__img--desiderare {
  background-image: url('/assets/imgs/desiderareCover_small.jpg'); 

  @include medium {
    background-image: url('/assets/imgs/desiderareCover_medium.jpg'); 
  }

  @include tall {
    background-image: url('/assets/imgs/desiderareCover_tall.jpg'); 
  }
}

.movieCover__img--apache {
  background-image: url('/assets/imgs/apacheCover_small.jpg');

  @include medium {
    background-image: url('/assets/imgs/apacheCover_medium.jpg');
  }

  @include tall {
    background-image: url('/assets/imgs/apacheCover_tall.jpg');
  }
}

.movieCover__img--raptus {
  background-image: url('/assets/imgs/raptusCover_small.jpg');

  @include medium {
    background-image: url('/assets/imgs/raptusCover_medium.jpg');
  }

  @include tall {
    background-image: url('/assets/imgs/raptusCover_tall.jpg');
  }
}

.movieCover__img--piscine {
  background-image: url('/assets/imgs/piscineCover_small.jpg');

  @include medium {
    background-image: url('/assets/imgs/piscineCover_medium.jpg');
  }

  @include tall {
    background-image: url('/assets/imgs/piscineCover_tall.jpg');
  }
}

.movieCover__img--chienne {
  background-image: url('/assets/imgs/chienneCover_small.jpg');

  @include medium {
    background-image: url('/assets/imgs/chienneCover_medium.jpg');
  }

  @include tall {
    background-image: url('/assets/imgs/chienneCover_tall.jpg');
  }
}

.movieCover__title--extra {
  display: flex; 

  div:first-child {
    @include flex(column, flex-start, none);
  }
  
  div:nth-child(2) {
    @include flex(column, flex-end, none);
  }

  p {
    font-size: 2.5rem; 

    @include tall {
      font-size: 4.5rem; 
    }
  }
}