@keyframes appear {
  to {
    opacity: 1;
  }
}

main {
  margin-bottom: 2rem;
}

.movieCover {
  width: 100%; 
  height: 80vh;
  @include flex(row, space-between, none);
  margin: 2rem auto; 
  padding: 0 .5rem;

  @include tall {
    width: 60%; 
    margin: 80px auto; 
    height: 95vh;
  }
}

.movieCover__infos {
  height: 100%;
  display: flex;

  p {
    // padding: 0 0.5rem; 
  }
}

.movieCover__title {
  height: 100%;

  div {
    height: 100%;
    @include flex(column, space-between, none);
  }

  p {
    text-align: center; 
    font-size: 3.9rem; 
  }

  @include tall {
    p {
      font-size: 6rem; 
      margin-right: 20px; 
    }
  }
}

.movieCover__details {
  @include tall {
  }
}

.movieCover__description {
  height: 100%;
  padding-left: .5rem;
  @include flex(column, space-between, center);

  @include tall {
    height: 60%;
    align-items: flex-start; 
  }
}

.movieCover__type {
  font-size: 1.5rem; 

  @include tall {
    font-size: 1.8rem; 
  }
}

.movieCover__time, 
.movieCover__date {
  font-size: 1.5rem;  
  
  @include tall {
    font-size: 2rem; 
  }
}

.movieCover__prom {
  // display: none;
  padding: 5px; 
  text-align: center;

  @include tall {
    @include flex(column, space-between, none);
    padding: 20px 0; 
    height: 40%; 
  }

  h3 {
    margin-bottom: 1rem; 
    font-size: 1.2rem; 
  }

  &.apache h3 {
    color: $apache-color;
  }

  &.chienne h3 {
    color: $chienne-color;
  }

  &.desiderare h3 {
    color: $desiderare-color;
  }

  &.piscine h3 {
    color: $piscine-color;
  }

  &.raptus h3 {
    color: $raptus-color;
  }
}

.movieCover__selection, 
.movieCover__press {
  margin-bottom: 2rem;

  ul {
    line-height: 1.2; 
  }
}

.movieCover__img {
  width: 75%; 
  background-size: contain; 
  background-position: center; 
  background-repeat: no-repeat;
  transition: all 0.5s; 

  @include medium {
    opacity: 0;
    animation: appear 0.8s linear forwards; 
  }
  
  @include tall {
    width: 60%; 
  }
}

.btnMovie {
  border: none;
  width: 100%;
  background: none;
  margin-top: 2rem;

  a {
    font-family: 'Bebas', sans-serif;
    font-size: 1.5rem;
  }

  &.apache a {
    color: $apache-color;
  }

  &.chienne a {
    color: $chienne-color;
  }

  &.desiderare a {
    color: $desiderare-color;
  }

  &.piscine a {
    color: $piscine-color;
  }

  &.raptus a {
    color: $raptus-color;
  }
}

/*********** MODIFIERS **********/

.movieCover__infos--desiderare {

  .movieCover__title, 
  .movieCover__time,
  .movieCover__date {
    color: $desiderare-color;
  }
}

.movieCover__infos--apache {

  .movieCover__title, 
  .movieCover__time,
  .movieCover__date {
    color: $apache-color;
  }
}

.movieCover__infos--raptus {

  .movieCover__title, 
  .movieCover__time,
  .movieCover__date {
    color: $raptus-color;
  }
}

.movieCover__infos--piscine {

  .movieCover__title, 
  .movieCover__time,
  .movieCover__date {
    color: $piscine-color;
  }
}

.movieCover__infos--chienne {

  .movieCover__title, 
  .movieCover__time,
  .movieCover__date {
    color: $chienne-color;
  }
}

.movieCover__img--desiderare {
  background-image: url('/assets/imgs/desiderareCover_small.jpg'); 

  @include medium {
    background-image: url('/assets/imgs/desiderareCover_medium.jpg'); 
  }

  @include tall {
    background-image: url('/assets/imgs/desiderareCover_tall.jpg'); 
  }
}

.movieCover__img--apache {
  background-image: url('/assets/imgs/apacheCover_small.jpg');

  @include medium {
    background-image: url('/assets/imgs/apacheCover_medium.jpg');
  }

  @include tall {
    background-image: url('/assets/imgs/apacheCover_tall.jpg');
  }
}

.movieCover__img--raptus {
  background-image: url('/assets/imgs/raptusCover_small.jpg');

  @include medium {
    background-image: url('/assets/imgs/raptusCover_medium.jpg');
  }

  @include tall {
    background-image: url('/assets/imgs/raptusCover_tall.jpg');
  }
}

.movieCover__img--piscine {
  background-image: url('/assets/imgs/piscineCover_small.jpg');

  @include medium {
    background-image: url('/assets/imgs/piscineCover_medium.jpg');
  }

  @include tall {
    background-image: url('/assets/imgs/piscineCover_tall.jpg');
  }
}

.movieCover__img--chienne {
  background-image: url('/assets/imgs/chienneCover_small.jpg');

  @include medium {
    background-image: url('/assets/imgs/chienneCover_medium.jpg');
  }

  @include tall {
    background-image: url('/assets/imgs/chienneCover_tall.jpg');
  }
}

.movieCover__title--extra {
  display: flex; 

  div:first-child {
    @include flex(column, flex-start, none);
  }
  
  div:nth-child(2) {
    @include flex(column, flex-end, none);
  }

  p {
    font-size: 2.5rem; 

    @include tall {
      font-size: 4.5rem; 
    }
  }
}

.desiderareMovie {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  transform: translateX(100%);
  transition: transform .5s ease-out;
  overflow: hidden;
  opacity: 0;

  // background-image: url('/assets/imgs/bg_small.jpg'); 
	// background-attachment: fixed; 
	// background-size: cover; 
  // background-position: center; 
  
  &.is-clicked {
    transform: translateX(0);
    opacity: 1;
    transition: transform .5s ease-out;
  }
}

.back {
  position: fixed;
  left: 1rem;
  top: 4rem;
  opacity: 0;

  &.is-clicked {
    opacity: 1;
  }
}

.moviesLinks {
  margin-top: 2rem;
  transition: transform .5s ease-out;

  &.is-removed {
    // transform: translateX(-100%);
    display: none;
  }
}

body {
  &.is-hidden {
    background-image: url('/assets/imgs/bg_small.jpg'); 
  }
}

.galery {
  width: 100%;

  img {
    width: 100%;
  }
}

